img {
    width: 70px;
    height: 70px;
}
button {
    margin-left: 15px;
}
button:first-child {
    margin-left: 0px;
}
.welcome_box {
    text-align: center;
    color: var(--dark-mode-ok-font-color);
}
